some inspiration taken from [@stevernewman on medium](https://medium.com/@stevernewman/eliminating-outliers-in-python-with-z-scores-dd72ca5d4ead)

In [7]:
import pandas as pd
import numpy as np
from scipy import stats
%run -i create_target.py

## load csv with all available info

In [3]:
df = pd.read_csv("dados/00-merged.csv")
df.dtypes

week_number          int64
Agencia_ID           int64
Canal_ID             int64
Ruta_SAK             int64
Cliente_ID           int64
Producto_ID          int64
Venta_uni_hoy        int64
Venta_hoy          float64
Dev_uni_proxima      int64
Dev_proxima        float64
target               int64
NombreProducto      object
Town                object
State               object
NombreCliente       object
dtype: object

## Stats exploration (not necessary)

In [ ]:
# create specific df for stats
df_stats = df

In [10]:
# sales_unit_this_week
df_stats['sales_unit_this_week-zscore'] = stats.zscore(df_stats['sales_unit_this_week'])
df_stats[['sales_unit_this_week','sales_unit_this_week-zscore']].describe().round(3)

       sales_unit_this_week  sales_unit_this_week-zscore
count            971976.000                   971976.000
mean                  7.324                       -0.000
std                  21.453                        1.000
min                   0.000                       -0.341
25%                   2.000                       -0.248
50%                   3.000                       -0.202
75%                   7.000                       -0.015
max                5000.000                      232.725

In [11]:
# sales_this_week
df_stats['sales_this_week-zscore'] = stats.zscore(df_stats['sales_this_week'])
df_stats[['sales_this_week','sales_this_week-zscore']].describe().round(3)

       sales_this_week  sales_this_week-zscore
count       971976.000              971976.000
mean            68.568                   0.000
std            288.706                   1.000
min              0.000                  -0.237
25%             16.760                  -0.179
50%             30.000                  -0.134
75%             56.250                  -0.043
max          50353.220                 174.173

In [12]:
# returns_unit_next_week
df_stats['returns_unit_next_week-zscore'] = stats.zscore(df_stats['returns_unit_next_week'])
df_stats[['returns_unit_next_week','returns_unit_next_week-zscore']].describe().round(3)

       returns_unit_next_week  returns_unit_next_week-zscore
count              971976.000                     971976.000
mean                    0.128                         -0.000
std                     2.510                          1.000
min                     0.000                         -0.051
25%                     0.000                         -0.051
50%                     0.000                         -0.051
75%                     0.000                         -0.051
max                  1241.000                        494.383

In [13]:
# returns_next_week
df_stats['returns_next_week-zscore'] = stats.zscore(df_stats['returns_next_week'])
df_stats[['returns_next_week','returns_next_week-zscore']].describe().round(3)

       returns_next_week  returns_next_week-zscore
count         971976.000                971976.000
mean               1.297                     0.000
std               53.984                     1.000
min                0.000                    -0.024
25%                0.000                    -0.024
50%                0.000                    -0.024
75%                0.000                    -0.024
max            49500.000                   916.914

In [14]:
# target
df_stats['target-zscore'] = stats.zscore(df_stats['target'])
df_stats[['target','target-zscore']].describe().round(3)

           target  target-zscore
count  971976.000     971976.000
mean        7.235         -0.000
std        21.254          1.000
min         0.000         -0.340
25%         2.000         -0.246
50%         3.000         -0.199
75%         6.000         -0.058
max      5000.000        234.913

## Outlier finder
important stuff starts here

\
define function to find outliers in a specific column

In [4]:
def find_outliers(col):
    from scipy import stats
    z = np.abs(stats.zscore(col))
    idx_outliers = np.where(z>1.5,True,False)
    return pd.Series(idx_outliers,index=col.index)

In [5]:
find_outliers(df['target'])

0          True
1         False
2         False
3         False
4         False
          ...
971971    False
971972    False
971973    False
971974    False
971975    False
Length: 971976, dtype: bool

choose columns for outlier elimination

In [6]:
out_columns = df[['sales_unit_this_week','sales_this_week','returns_unit_next_week','returns_next_week','target']].columns
out_columns

KeyError: "['sales_unit_this_week', 'sales_this_week', 'returns_unit_next_week', 'returns_next_week'] not in index"

find outliers in all desired columns

In [43]:
df_outliers = pd.DataFrame()
for col in out_columns:
    df_outliers[col] = find_outliers(df[col])
df_outliers.head()

,sales_unit_this_week,sales_this_week,returns_unit_next_week,returns_next_week,target
0,True,False,False,False,True
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False

create variable that is true for any column with at least one outlier

In [44]:
test_out = df_outliers.apply(lambda x: np.any(x), axis=1)

In [45]:
print(len(test_out), df_outliers.shape)
test_out

971976 (971976, 5)

0          True
1         False
2         False
3         False
4         False
          ...
971971    False
971972    False
971973    False
971974    False
971975    False
Length: 971976, dtype: bool

In [46]:
np.sum(test_out)

35312

## create final dataframe

In [47]:
df_clean = df.loc[test_out==False]
df_clean.describe()

,week_number,sales_depot_id,sales_channel_id,route_id,client_id,product_id,sales_unit_this_week,sales_this_week,returns_unit_next_week,returns_next_week,weight,target
count,936664.000000,936664.000000,936664.000000,936664.000000,9.366640e+05,936664.000000,936664.000000,936664.000000,936664.000000,936664.000000,936664.000000,936664.000000
mean,5.946232,2537.299202,1.355749,2107.157105,1.790573e+06,20634.228583,5.170975,45.553490,0.039746,0.439291,192.380398,5.138262
std,2.013173,4084.437642,1.419792,1478.590741,1.833027e+06,18650.665556,5.562449,52.120537,0.263132,3.087689,195.184467,5.574517
min,3.000000,1110.000000,1.000000,1.000000,6.500000e+01,41.000000,0.000000,0.000000,0.000000,0.000000,1.320000,0.000000
25%,4.000000,1311.000000,1.000000,1161.000000,3.531200e+05,1242.000000,2.000000,16.670000,0.000000,0.000000,80.000000,2.000000
50%,6.000000,1613.000000,1.000000,1281.000000,1.180745e+06,30532.000000,3.000000,29.490000,0.000000,0.000000,120.000000,3.000000
75%,8.000000,2034.000000,1.000000,2802.000000,2.364550e+06,37361.000000,6.000000,53.280000,0.000000,0.000000,255.000000,6.000000
max,9.000000,25759.000000,11.000000,9835.000000,1.998863e+07,49994.000000,39.000000,501.600000,3.000000,81.900000,12000.000000,39.000000

## create target

In [ ]:
create_target(df)

## save to csv

In [56]:
df_clean.to_csv('data/03-outliers-zscore15.csv',index=False)